In [36]:
# we only need this line for jupyter
%matplotlib inline

## This first step, is to import the packages that we need

In [45]:
from pprint import pprint
import numpy as np 
import matplotlib.pyplot as plt

Now, we have access to all of numpy's functions unde the alias of numpy and matplotlib.pyplot's plotting functions under the alias of plt. Note that you can alias these packages however you want.

## A deeper dive into lists

Remember, lists are 0-based indexed.

<img src="./images/ex1_index.PNG">

And for a 2 dimenaional list

<img src="./images/ex1_index2d.PNG">

What is the forward indexed position of the word: "awesome" in the following list?

`facts = ["The","Albany","Great","Danes","are","awesome"]`

In [34]:
facts = ["The","Albany","Great","Danes","are","awesome"]
facts[5]

'awesome'

In [7]:
facts = ["The","Albany","Great","Danes","are","awesome"]

print(facts[5])

awesome

What is the backward indexed position of Danes?

In [35]:
facts = ["The","Albany","Great","Danes","are","awesome"]
facts[-3]

'Danes'

Consider the following two dimensional list, what is the position of 84000000?

`salaries=[
    ['Messi', 'Ronaldo','Neymar','Bale',  'Pogba'],
    [84000000,61000000, 73000000,28600000,18000000]
]`

In [1]:
salaries=[
    ['Messi', 'Ronaldo','Neymar','Bale',  'Pogba'],
    [84000000,61000000, 73000000,28600000,18000000]
]
print(salaries[1][0])

84000000

Oops, there was a typo on Pogba's Salary, it should have been 25000000, how can we update the list?

In [22]:
salaries=[
    ['Messi', 'Ronaldo','Neymar','Bale',  'Pogba'],
    [84000000,61000000, 73000000,28600000,18000000]
]
salaries[1][-1]=25000000
print(salaries)

[['Messi', 'Ronaldo', 'Neymar', 'Bale', 'Pogba'], [84000000, 61000000, 73000000, 28600000, 25000000]]

We can also delete elements of a list, let's delete "Bale" and his salary of "28600000"

In [23]:
del salaries[0][3]
print(salaries)
# Note that "lists of lists" can be different dimensions!!!!

del salaries[1][3]
print(salaries)

[['Messi', 'Ronaldo', 'Neymar', 'Pogba'], [84000000, 61000000, 73000000, 28600000, 25000000]]
[['Messi', 'Ronaldo', 'Neymar', 'Pogba'], [84000000, 61000000, 73000000, 25000000]]

And now, let's add it back in to the 4th position

In [24]:
salaries[0].insert(3,'Bale')
salaries[1].insert(3,28600000)

print(salaries)

[['Messi', 'Ronaldo', 'Neymar', 'Bale', 'Pogba'], [84000000, 61000000, 73000000, 28600000, 25000000]]

## How about dictionaries?

Given a dictionary of football player's salaries, how do we grab Bale's earnings? 

`salary={
    'Player': ['Messi', 'Ronaldo','Neymar','Bale',  'Pogba'],
    'Salary': [84000000,61000000, 73000000,28600000,25000000]
}`

In [30]:
salary = {
    'Player': ['Messi', 'Ronaldo', 'Neymar', 'Bale', 'Pogba'],
    'Salary': [84000000, 61000000, 73000000, 28600000, 25000000]
}
print(
    salary['Salary'][
        salary['Player'].index('Bale')
    ]
)

28600000

## Quickly, let's talk about looping

## Now, its time for functions